<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ブルアカ風ガチャシミュ</title>
</head>
<body>
  <h1>ガチャシミュレーター</h1>
  <p>ここにReactアプリがマウントされます</p>
  <div id="root"></div>
  <script src="/dist/main.js"></script>
</body>
</html>